<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124674416682-lc1ar5ppmmjqsj1rsg8dlgijj066os03.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124674416682-lc1ar5ppmmjqsj1rsg8dlgijj066os03</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>124674416682-06cqkv0jcfm60stf4l2jpunjkq3dma49.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDbKNwEjIIpF-O-Z0JIvAHI_endWJXmasc</string>
	<key>GCM_SENDER_ID</key>
	<string>124674416682</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.parallelbox.red-Flag</string>
	<key>PROJECT_ID</key>
	<string>red-flags-2c4b5</string>
	<key>STORAGE_BUCKET</key>
	<string>red-flags-2c4b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124674416682:ios:2c276aa33703012ceba353</string>
</dict>
</plist>